<section class="app__content">
    <div class="app__content-header">
      <div class="app__content-header-l">
        <app-breadcrumbs></app-breadcrumbs>
        <h1 class="app__content-ttl">Dashboard</h1>
      </div>
      <div class="app__content-header-r">
      </div>
    </div>
    <div class="app__content-body">
      <section class="report">
        <div class="report__body" id="graphData">
          <div class="flex">
            <div
              class="col-6 report__body-chart report__body-chart--400 float_right"
            >
              
            </div>
            <div class="col-6 padding_top">
              
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  