.file-uploader{
    width: 100%;
    display: flex!important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    border: dashed 2px #eee;
    padding: 20px;
    cursor: pointer;

    &__icn{
        .pi{
            font-size: 70px;
        }
       
    }
}