@import '../../../../assets/scss/base/colors';

.nav{
    position: relative;
    display: block;
    padding: 40px 0;

    &__title{
        color: #fff;
        text-transform: uppercase;
        margin: 0 0 20px 0;
        font-size: 10px;
        font-weight: 400;
        padding: 0 20px;
    }

    &__lst{
       margin-bottom: 50px;

        &-itm{
            
        }
        &-lnk{
            display: block;
            text-decoration: none;
            color: #fff;
            padding: 7px 20px ;
            &:hover, &.active{
                background-color: #005B8C;
            }
        }
    }
}